extends ../sidebar

block authenticatedcontent
  if message
    div.alert.alert-success(role="alert")
      p= message
  .container-fluid.mt-5.col-md-10
    h1 Group Management
    h5.text-muted Here you can create and manage groups you've created. You can also accept group invites or leave groups you've joined.
    br
    a.btn.btn-success.mb-3(href="/groups/new" role="button") Criar Novo Grupo
    .container.mt-5
      h4 Group invites
      hr
      h4 Groups you created
      hr
      h4 Groups you belong to
