extends ../sidebar

block authenticatedcontent
  if message
    div.alert.alert-success(role="alert")
      p= message
  .container-fluid.mt-5.col-md-10
    h1 Os meus grupos
    h5.text-muted Aqui podes criar e gerir grupos que tenhas criado. Podes também aceitar ou rejeitar convites para outros grupos, e sair de grupos que tenhas seguido.
    br
    a.btn.btn-success.mb-3(href="/groups/new" role="button") Criar Novo Grupo
    .container.mt-5
      h4 Convites para grupos
      hr
      h4 Grupos que criaste
      hr
      h4 Outros grupos que estás a seguir
