extends sidebar
block authenticatedcontent
  form(action="/dashboard/post" method="POST" style="width: 60%; margin-left: auto; margin-right: auto; margin-top: 50px")
    div.form-group
      label
        b Conteúdo da Publicação
      textarea.form-control(type="text" name="text" autocomplete="off" required style="min-height: 100px")
    button.btn.btn-primary(type="submit") Enviar