extends sidebar
block scripts
  script(src="/javascripts/dashboard.js")

block authenticatedcontent
  form(action="/dashboard/posts/new" method="POST" style="width: 60%; margin-left: auto; margin-right: auto; margin-top: 50px")
    div.form-group
      label
        b Conteúdo da Publicação
      textarea.form-control(type="text" id="new-post-form-textarea" maxlength="1000" name="text" autocomplete="off" required style="min-height: 100px")
    button.btn.btn-primary(type="submit") Enviar
  each post in posts
    p= post.text