extends layout
block content
  div#wrapper.d-flex(style="width: 100%; position:absolute;" )
    // Sidebar
    #sidebar-wrapper.bg-light.border-right
      .list-group.list-group-flush
        a.list-group-item.list-group-item-action.bg-light(href='#') Dashboard
        a.list-group-item.list-group-item-action.bg-light(href='#') Shortcuts
        a.list-group-item.list-group-item-action.bg-light(href='#') Overview
        a.list-group-item.list-group-item-action.bg-light(href='#') Events
        a.list-group-item.list-group-item-action.bg-light(href='#') Profile
        a.list-group-item.list-group-item-action.bg-light(href='#') Status
    //conteudo da pagina
    #page-content-wrapper
      .container-fluid
        h1.mt-4 Simple Sidebar
        p
          | The starting state of the menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will change.
        p
          | Make sure to keep all page content within the 
          code #page-content-wrapper
          | . The top navbar is optional, and just for demonstration. Just create an element with the 
          code #menu-toggle
          |  ID which will toggle the menu when clicked.