extends sidebar

block stylesheets
  link(rel='stylesheet', href='/stylesheets/dashboard.css')

block scripts
  script(src="/javascripts/feed.js")

block authenticatedcontent
  h1= message
  h2= status
  pre #{stack}
