extends layout

block scripts
  script(src="/javascripts/register.js")

block content
  h1 Registar na Aplicação
  if message
    div.alert.alert-warning.alert-dismissible.fade.show(role="alert" class="alert-msg")
      =message
  form(action="/users/register" method="POST")
    div.form-group
      label
        b Nome
      input.form-control(type="text" name="name" autocomplete="off" required)
    div.form-group
      label
        b Email
      if email
        input.form-control.bg-warning(type="text" name="email" id="email-field" value=email required)
      else
        input.form-control(type="text" name="email" required)
    div.form-group
      label
        b Password
      input.form-control(type="password" name="password" required)
    div.form-group
      label
        b Curso
      select.custom-select(name="course" required)
        option(value="") Curso
        each curso in cursos
          option(value=curso name="course")= curso
    button.btn.btn-primary(type="submit") Registar