extends layout
block content
  h1 Registar na Aplicação
  form(action="/users/register" method="POST")
    div.form-group
      label(for="nome")
        b Username
      input.form-control(type="text" name="nome" autocomplete="off" required)
    div.form-group
      label
        b Email
      input.form-control(type="text" name="email" required)
    div.form-group
      label
        b Password
      input.form-control(type="password" name="password" required)
    div.form-group
      label
        b Curso
      select.custom-select(required)
        option(value="") Curso
        each curso in cursos
          option(value=curso)= curso
    button.btn.btn-primary(type="submit") Registar