extends layout
block content
  div.d-flex
    // Sidebar
    .sidebar
      .list-group.list-group-flush.text-center
        a.list-group-item.list-group-item-action.custom-item(href='/feed') Feed
        a.list-group-item.list-group-item-action.custom-item(href="/users/" + user.at)= user.name
        a.list-group-item.list-group-item-action.custom-item(href='/groups') Grupos
    //conteudo da pagina
    .container-fluid
      block authenticatedcontent
