extends layout
block content
  div.d-flex
    // Sidebar
    .bg-light.border-right
      .list-group.list-group-flush
        a.list-group-item.list-group-item-action.bg-light(href='/dashboard') Frontpage
        a.list-group-item.list-group-item-action.bg-light(href='/profile') Profile
        a.list-group-item.list-group-item-action.bg-light(href='/groups') Groups
    //conteudo da pagina
    .container-fluid
      block authenticatedcontent
